@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-weight: normal;
  @apply font-sans flex md:items-center justify-center min-h-screen text-marine-blue;
}

html {
  @apply bg-magnolia;
}

main {
  @apply px-3 w-full md:w-fit;
}

@layer components {
  .error-text {
    @apply text-strawberry-red font-semibold fade-in-short;
  }
  .input-field {
    @apply px-4 py-3 rounded-lg border-light-gray border-[1px] focus:border-purplish-blue hover:border-purplish-blue focus:outline-none transition-colors font-semibold;
  }
  .input-field.error {
    @apply border-strawberry-red;
  }
  .button {
    @apply px-3 py-3 md:px-6 md:py-4 rounded-lg text-white font-semibold transition-colors;
  }
  .stepper-title {
    @apply leading-none font-semibold tracking-wider text-white;
  }
  .stepper-num {
    @apply flex items-center justify-center h-8 w-8 font-semibold leading-none rounded-full border-[1px] border-light-gray text-light-gray transition-all duration-500;
  }
  .stepper-num-active {
    @apply bg-light-gray text-marine-blue;
  }
  .plan-card {
    @apply cursor-pointer flex md:flex-col gap-3 md:justify-between rounded-lg p-3 border-[1px] border-light-gray hover:border-purplish-blue transition-all lg:min-h-[160px] flex-1;
  }
  .plan-card-active {
    @apply border-purplish-blue bg-alabaster;
  }
  .addson-card {
    @apply flex justify-between items-center p-5 rounded-lg border-[1px] border-light-gray cursor-pointer hover:border-purplish-blue transition-all;
  }
  .addson-card-active {
    @apply border-purplish-blue bg-alabaster;
  }
}

@layer base {
  .fade-in {
    animation: fadeIn 500ms ease-in-out;
  }
  .fade-in-short {
    animation: fadeIn 300ms ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
